@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #29abe2;
$tertiary_color: #033f60;
$background: #e6e6e6;
$border: #033f60;

$max_width: 1200px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
	font-family: 'Helvetica Regular';
	src: url(fonts/helr45w.ttf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Helvetica Regular';
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Helvetica Regular';
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* Top */

.top {
	border-top: 6px solid $tertiary_color;
	.moduletable_to1 {
		padding: 10px 0;
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	a {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	input {
		border-radius: 0;
	}
	textarea {
		border-radius: 0;
	}
	.button {
		background-color: $secondary_color;
		border-radius: 0;
	}
	.asterisk {
		color: red;
	}
	iframe {
		border: 0;
	}
	.moduletable_le1 {
		.bellows {
			background-color: $tertiary_color !important;
			.bellows-item-level-0.bellows-active > .bellows-target {
				background-color: $tertiary_color !important;
			}
			ul {
				li {
					a.bellows-target {
						&:hover {
							background-color: $tertiary_color !important;
							color: #fff !important;
						}
					}
				}
			}
		}
	}
	.woocommerce {
		ul.products {
			li {
				margin-bottom: 15px;
				a {
					color: #fff;
					&:hover {
						color: #fff;
					}
					img {
						margin: 0;
						margin-bottom: 10px;
						padding: 10px;
						border: 1px solid $border;
					}
					h2 {
						padding: 15px !important;
						background-color: $tertiary_color;
						text: {
							align: center;
							transform: uppercase;
						}
					}
				}
			}
		}
		.product {
			h1 {
				&.product_title {
					font-size: 20px;
				}
			}
		}
		a,
		button {
			&.button {
				background-color: $secondary_color;
				border-radius: 0;
				color: #fff;
				&:hover {
					background-color: $secondary_color;
					color: #fff;
				}
			}
		}
	}
	&.full-width {
		padding: 0 0 30px 0;
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
}

.bellows.bellows-skin-blue-material .bellows-nav .bellows-item-level-0.bellows-current-menu-item > .bellows-target, .bellows.bellows-skin-blue-material .bellows-nav .bellows-item-level-0.bellows-current-menu-ancestor > .bellows-target {
	background-color: $tertiary_color !important;
}

/* Block 1 */

.block_1 {
	padding: 30px 0;
	background-color: $background;
	.moduletable_b11 {
		h3 {
			margin: 0;
			font-size: 18px;
			color: #000;
		}
		a {
			color: $tertiary_color;
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 30px 0;
	.moduletable_b21 {
		h3 {
			margin: 0;
			font-size: 18px;
			color: #000;
		}
		h4 {
			width: fit-content;
			margin: 0;
			margin: auto;
			padding: 10px;
			border: 1px solid #fff;
			font-size: 18px;
			color: #fff;
			a {
				color: #fff;
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 10px 0;
	background-color: $tertiary_color;
	.moduletable_bo1 {
		color: #fff;
		p {
			margin: 0;
		}
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 10px;
	background-color: $tertiary_color;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Content */

	.content {
		.moduletable_le1 {
			display: none;
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}